.newsLetter{
    width: 85%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 150px;
    padding: 0px 140px;
    background: linear-gradient(180deg, #fde1ff 0%,#e1ffea22 60%);
    gap: 30px;
}
.newsLetter h1{
    color: #454545;
    font-size: 45px;
    font-weight: 600;
}

.newsLetter p {
    color: #454545;
    font-size: 20px;
}
.newsLetter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}

.newsLetter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-family: poppins;
    font-size: 16px;
}
.newsLetter div button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

@media(max-width: 1280px){
    .newsLetter{
        padding: 0px 80px;
        margin-bottom: 120px;
        gap: 20px;
    }

    .newsLetter h1{
        font-size: 36px;
    }
    
    .newsLetter p {
        font-size: 16px;
    }
    .newsLetter div{
        width: 600px;
        height: 60px;
    }
    
    .newsLetter input{
        width: 400px;
    }
    .newsLetter div button{
        width: 160px;
        height: 60px;
    }
    
}


@media(max-width: 1024px){
    .newsLetter{
        margin-bottom: 60px;
    }
    .newsLetter h1{
        font-size: 30px;
    }
    
    .newsLetter p {
        font-size: 14px;
    }
    .newsLetter div{
        width: 500px;
        height: 50px;
    }
    
    .newsLetter input{
        width: 300px;
        font-size: 14px;
    }
    .newsLetter div button{
        width: 120px;
        height: 50px;
        font-size: 14px;
    }
    
}

@media(max-width: 800px){
    .newsLetter{
        margin-bottom: 30px;
        height: 35vh ;
    }
    .newsLetter h1{
        font-size: 18px;
    }
    
    .newsLetter p {
        font-size: 10px;
    }
    .newsLetter div{
        width: 400px;
        height: 40px;
    }
    
    .newsLetter input{
        width: 200px;
        font-size: 12px;
    }
    .newsLetter div button{
        width: 100px;
        height: 40px;
        font-size: 12px;
    }
    
}

@media(max-width: 500px){
    .newsLetter{
        height: 25vh ;
        width: 100%;
        gap: 15px;
        padding: 0px;

    }
    .newsLetter h1{
        font-size: 16px;
    }
    .newsLetter p {
        font-size: 13px;
        max-width: 200px;
        text-align: center;
    }
    .newsLetter div{
        width: 290px;
    }   
    .newsLetter input{
        width: 130px;
    }
}