.loginSignup{
    width: 100%;
    height: 100vh;
    background: #fce3fe;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.loginSignup-container{
    width: 50vw;
    height: 70vh;
    background: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}
.loginSignup-container h1{
    font-size: 30px;
}
.loginSignup-fields{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
}
.loginSignup-fields input{
    height: 34px;
    width: 140%;
    border: 1px solid #c9c9c9;
    color: #5c5c5c;
    font-size: 16px;
    border-radius: 5px;
}
.loginSignup-container button{
    margin: 20px;
    margin-left: 0px;
    height: 34px;
    width: 200px;
    background-color: #ff4141;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    color: white;
    border-radius: 5px; 
    margin-bottom: 0px;
}
#backBtn{
    height: 32px;
    width: 80px;
    background-color: #6a5acd;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    color: white;
    border-radius: 5px; 

}
.loginSignup-login span{
     color: blue;
    font-weight: 600;
    cursor: pointer;
}
.loginSignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

@media(max-width: 1280px){
    .loginSignup-container{
        width: auto;
        max-width: 600px;
        max-height: 600px;    
    }
    .loginSignup-container h1{
        margin: 10px 0px;
    }
    .loginSignup-fields{
        margin-top: 20px;
    }
    .loginSignup-container button{
        width: 18vw;
    }
    .loginSignup-login{
        font-size: 16px;
   }
   .loginSignup-agree{
    gap: 10px;
    font-size: 14px;
}

}


@media(max-width: 800px){
    .loginSignup-container{
        padding: 20px 30px;  
    }
    .loginSignup-container h1{
        font-size: 24px;
    }
    .loginSignup-fields{
        margin-top: 0px;
    }
    .loginSignup-fields input{
        height: 30px;
        width: 120%;
        font-size: 12px;
    }

    .loginSignup-container button{
        width: 14vw;
        height: 24px;
        font-size: 13px;
    }
    .loginSignup-login{
        font-size: 10px;
   }
   .loginSignup-agree{
    gap: 5px;
    font-size: 8px;
}

}