.offers{
    width: 85%;
    height: 70vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    margin-top: 100px;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);

}
.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1{
    color: #171717;
    font-size: 70px;
    font-weight: 600;
}

.offers-left p{
    color: #055f61;
    font-size: 22px;
    font-weight: 600;
}
.offers-left button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}

.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 30px;
    align-self: f;
    
}
.offers-right img{
    height: 450px;
    width: 350px;
}

@media(max-width: 1280px){
    .offers{
        padding: 0px 80px;
        margin-bottom: 120px;
    }
    .offers-left h1{
        font-size: 40px;
    }
    
    .offers-left p{
        font-size: 18px;
    }
    .offers-right img{
        height: 450px;
        width: 290px;
    }
    .offers-left button{
        width: 220px;
        height: 50px;
        font-size: 18px;
    }
    .offers-right{
        padding-top: 30px;
    }
}


@media(max-width: 1024px){
    .offers{
        padding: 0px 60px;
        margin-bottom: 80px;
        height: 40vh;
    }
    .offers-left h1{
        font-size: 30px;
    }
    
    .offers-left p{
        font-size: 16px;
    }
    .offers-right img{
        height: 280px;
        width: 200px;
    }
    .offers-left button{
        width: 160px;
        height: 40px;
        font-size: 16px;
    }
    .offers-right{
        padding-top: 20px;
    }

}


@media(max-width: 800px){
    .offers{
        margin-bottom: 60px;
    }
    .offers-left h1{
        font-size: 22px;
    }
    
    .offers-left p{
        font-size: 12px;
    }
    .offers-right img{
        height: 250px;
        width: 180px;
    }
    .offers-left button{
        width: 160px;
        height: 40px;
        font-size: 16px;
    }
    .offers-right{
        padding-top: 12px;
    }

}


@media(max-width: 500px){
    .offers{
        height: 30vh;
        margin-bottom: 50px;
        margin-top: 100px;
        padding-left: 20px;
    }
    .offers-left h1{
        font-size: 16px;
    }
    
    .offers-left p{
        font-size: 9px;
    }
    .offers-right img{
        height: 180px;
        width: 120px;
    }
    .offers-left button{
        width: 100px;
        height: 20px;
        font-size: 10px;
        border-radius: 3px;
        margin-top: 12px;
    }
    .offers-right{
        padding-top: 12px;
    }

}