.product-display{
    display: flex;
    justify-content: flex-start;
    margin: 0px 10px;
    margin-bottom: 50px
}
.product-display-left{
    display: flex;
    gap: 17px;
}
.product-display-image-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.product-display-image-list img{
    height: 163px;
    border-radius: 5px;
}
.product-display-main-image{
    width: 586px;
    height: 700px;
    border-radius: 10px;
}
.product-display-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.product-display-right h1{
    color: #3d3d3d;
    font-size: 30px;
    font-weight: 700;
}
.product-display-right-stars{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.product-display-right-prices{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.product-display-right-price-old{
    color: #818181;
    text-decoration: line-through;
}
.product-display-right-price-new{
    color: #ff4141;

}
.product-display-right-size h1{
    margin-top: 10px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;

}
.product-display-right-sizes{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}
.product-display-right-sizes div{
    padding: 18px 24px;
    background-color: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;

}
.product-display-right-size button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #FF4141;
    margin-bottom: 10px;
    margin-top: 0px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
.product-display-right-category{
    margin-top: 10px;
}
.product-display-right-category span{
    font-weight: bold;
}


