.product-display{
    display: flex;
    justify-content: flex-start;
    margin: 0px 10px;
    margin-bottom: 50px
}
.product-display-left{
    display: flex;
    gap: 17px;
}
.product-display-image-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.product-display-image-list img{
    height: 163px;
    border-radius: 5px;
}
.product-display-main-image{
    width: 586px;
    height: 700px;
    border-radius: 10px;
}
.product-display-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.product-display-right h1{
    color: #3d3d3d;
    font-size: 30px;
    font-weight: 700;
}
.product-display-right-stars{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.product-display-right-prices{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.product-display-right-price-old{
    color: #818181;
    text-decoration: line-through;
}
.product-display-right-price-new{
    color: #ff4141;

}
.product-display-right-size h1{
    margin-top: 10px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;

}
.product-display-right-sizes{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}
.product-display-right-sizes div{
    padding: 18px 24px;
    background-color: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;

}
.product-display-right-size button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #FF4141;
    margin-bottom: 10px;
    margin-top: 0px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
.product-display-right-category{
    margin-top: 10px;
}
.product-display-right-category span{
    font-weight: bold;
}


@media(max-width: 1280px){
    .product-display{
        margin: 0px 60px;
    }
    .product-display-left{
        gap: 10px;
    }
    .product-display-image-list{
        gap: 10px;
    }
    .product-display-image-list img{
        height: 120px;
    }
    .product-display-main-image{
        width: auto;
        height: 510px;
    }
    .product-display-right{
        margin: 0px 30px;
    }
    .product-display-right h1{
        font-size: 22px;
    }
    .product-display-right-stars{
        gap: 3px;
        font-size: 13px;
    }
    .product-display-right-prices{
        margin: 10px 0px;
        font-size: 18px;
    }
    .product-display-right-description{
        font-size: 13px;

    }
    .product-display-right-size h1{
        margin-top: 20px;
        font-size: 20px;    
    }
    .product-display-right-sizes div{
        padding: 14px 20px;
    }
    .product-display-right-size button{
        padding: 15px 0px;
    }
    .product-display-right-category{
        margin-top: 5px;
        font-size: 14px;
    }    
}



@media(max-width: 1024px){
    .product-display{
        margin: 0px 30px;
    }
    .product-display-left{
        gap: 5px;
    }
    .product-display-image-list{
        gap: 10px;
    }
    .product-display-image-list img{
        height: 80px;
    }
    .product-display-main-image{
        height: 350px;
    }
    .product-display-right h1{
        font-size: 18px;
    }
    .product-display-right-stars img{
        width: 15px;
    }

    .product-display-right-description{
        font-size: 11px;

    }
    .product-display-right-size{
        margin-top: 10px 0px;
    }
    .product-display-right-sizes div{
        padding: 10px 16px;
        font-size: 12px;
    }
    .product-display-right-size button{
        width: 120px;
        padding: 10px 0px;
        margin-bottom: 5px;
        font-size: 14px;
    }
    .product-display-right-category{
        margin-top: 10px;
        font-size: 14px;
    }    
}


@media(max-width: 800px){
    .product-display{
        margin: 0px 10px;
    }
    .product-display-left{
        gap: 0px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .product-display-image-list{
        gap: 6px;
        flex-direction: row;

    }
    .product-display-image-list img{
        height: 70px;
    }
    .product-display-main-image{
        height: 300px;
    }
    .product-display-right h1{
        font-size: 14px;
    }
    .product-display-right-stars img{
        width: 13px;
    }

    .product-display-right-description{
        font-size: 10px;

    }
    .product-display-right-size h1{
        margin-top: 10px 0px;
    }
    .product-display-right-sizes{
        margin-top: 10px;
    }
    .product-display-right-sizes div{
        padding: 4px 11px;
    }
    .product-display-right-size button{
        width: 100px;
        font-size: 12px;
    }
    .product-display-right-category{
        font-size: 10px;
    }    
}


@media(max-width: 500px){
    .product-display{
        flex-direction: column;
    }
    .product-display-left{
        gap: 10px;
        flex-direction: row;
        margin: auto;

    }
    .product-display-image-list{
        gap: 8px;
        flex-direction: column;

    }
    .product-display-image-list img{
        height: 75px;
    }
    .product-display-main-image{
        height: 330px;
    }
    .product-display-right{
        margin: 5px;
    }
    .product-display-right h1{
        margin-top: 15px;
        font-size: 20px;
        font-weight: 500;
    }
    .product-display-right-stars img{
        width: 15px;
    }

    .product-display-right-description{
        font-size: 10px;

    }
    .product-display-right-sizes{
        margin-top: 20px 0px;
        gap: 10px;
    }
    .product-display-right-sizes div{
        padding: 10px 16px;
    }
    .product-display-right-size button{
        width: 130px;
        font-size: 15px;
        padding: 12px 0px;
    }
    .product-display-right-category{
        font-size: 16px;
    }    
}